<div class="ingredient-list">
    <h4>Quick Add from Ingredients</h4>
    <% if (recipe.ingredients.length > 0) { %> <% recipe.shopping.forEach(ingredient => { %>
    <ul>
      <% if (ingredient.complete) { %>
      <li>
        <input 
        data-check="<%= ingredient %>"
        data-list="<%= ingredient.id %>"
        type="checkbox"
        class="selected"
        id="select ingredient" 
        name="ingredient" 
        checked
        onchange="addToShoppingList(event)"
        />
        <% } else { %>
      <li>
        <input 
        data-check="<%= ingredient %>"
        data-list="<%= ingredient._id %>"
        type="checkbox"
        class="selected"
        id="select ingredient" 
        name="ingredient" 
        unchecked 
        onchange="addToShoppingList(event)"/>
        <% } %>
        <%= ingredient.item%></p>
      </li>
    </ul>
    <% }) %> <% } else { %>
    <p>There are no ingredients to display...</p>
    <% } %>
  </div>
  <script>
      const addToShoppingList = (event)=>{
          const selection = document.querySelector('input.selected')
          const editButton =document.querySelector('.editButton')
          const boxStatus = selection.checked
          const currentItem = event.target.dataset.check
          const currentItemId = event.target.dataset.list
          const endpoint = `/checkbox/${currentItemId}/${editButton.dataset.nameedit}`;
          fetch(endpoint, {
          method: 'PUT',          
        })
      .then((response) => response.json())
      .then((data) => (window.location.href = data.redirect))
      .catch((err) => console.log(err));
      }
  </script>