<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="details content">
     <input type="text" class="recipe-name edit-input" value="<%= recipe.name %>" disabled />
        <button class="editButton fa fa-pencil-square-o fa-1x" data-nameedit="<%= recipe._id %> " onclick='editDescription()'></button>
        <br>
     
        <textarea id="body" class="recipe-name directions edit-input" name="directions" required disabled><%= recipe.directions %></textarea>
        <span>
              Directions
          </span>
        <button class="editButton recipe-name descButton fa fa-pencil-square-o fa-1x" data-directions="<%= recipe._id %> " onclick='editDirections()'></button>
    
    <a class="delete" data-delete="<%= recipe._id %> ">delete</a>      
  </div>
    <div class="box">

      <h4 class="recipe-name">Shopping List<button class="addButton newShopList" onclick="shoppingListAdd()" data-shoplist="<%= recipe._id %>"> <i class="fa fa-plus"></i></button><input type="text" class="shopItemName edit-input" value="+ New Item" disabled /></h4>
      
      <div class="ingredient-list">
        <% if (recipe.shopping.length > 0) { %> <% recipe.shopping.forEach(ingredient => { %>    
          <% if (ingredient.complete) { %>      
            
            <p class="recipe-name">
              
              <a class="single" href="/list/<%= recipe._id %>/<%=ingredient._id%>">
                <span>
                <input type="checkbox"><%= ingredient.item%> 
                </span>
                
              </a>
              qty:
              <a class="single" href="/list/<%= recipe._id %>/<%=ingredient._id%>">
                <span>
                  <%= ingredient.quantity%> 
          </span>
        </a>
      </p>
      
    </a>
    <%}  %>
    
    
    
    <% }) %> <% } else { %>
      <p>There are no ingredients to display...</p>
      <% } %>
      
    </div>
  </div>
  <h4>Ingredient List</h4>
  <div class="ingredient-list">
    <% if (recipe.ingredients.length > 0) { %> <% recipe.shopping.forEach(ingredient => { %>
    <ul>
      <% if (ingredient.complete) { %>
      <li>
        <input type="checkbox" id="select ingredient" name="ingredient" checked />
        <% } else { %>
      <li>
        <input type="checkbox" id="select ingredient" name="ingredient" unchecked />
        <% } %>

        <%= ingredient.item%></p>
      </li>
    </ul>

    <% }) %> <% } else { %>
    <p>There are no ingredients to display...</p>
    <% } %>

  </div>
  

  <%- include("./partials/footer.ejs") %>
  <script>
    
      const deletebtn = document.querySelector('a.delete')
      deletebtn.addEventListener('click', (e) => {
        const endpoint = `/recipes/${deletebtn.dataset.delete}`;
        fetch(endpoint, {
          method: 'DELETE'
        })
          .then((response) => response.json())
          .then((data) => window.location.href = data.redirect)
          .catch(err => console.log(err))
      })
      
  editDescription = (event)=>{
      const nameInput = document.querySelector('input.recipe-name')
      const editButton =document.querySelector('.editButton')
        nameInput.disabled = !nameInput.disabled
        nameInput.focus()
      nameInput.addEventListener('blur', (event) => {
        const newDescription = event.target.value

        const endpoint = `/recipes/${newDescription}/${editButton.dataset.nameedit}`
        console.log(endpoint);
        fetch(endpoint, {
          method: 'PUT',
          
        })
      .then((response) => response.json())
      .then((data) => (window.location.href = data.redirect))
      .catch((err) => console.log(err));
    });
  }
  editDirections = (event)=>{
      const nameInput = document.querySelector('textarea.directions')
      const editButton =document.querySelector('.descButton')
        nameInput.disabled = !nameInput.disabled
        nameInput.focus()
      nameInput.addEventListener('blur', (event) => {
        const newDescription = event.target.value

        const endpoint = `/directions/${newDescription}/${editButton.dataset.directions}`
        console.log(endpoint);
        fetch(endpoint, {
          method: 'PUT',
          
        })
      .then((response) => response.json())
      .then((data) => (window.location.href = data.redirect))
      .catch((err) => console.log(err));
    });
  }
  shoppingListAdd = (event)=>{
      const nameInput = document.querySelector('input.shopItemName')
      const editButton =document.querySelector('.newShopList')
        nameInput.disabled = !nameInput.disabled
        nameInput.focus()
      nameInput.addEventListener('blur', (event) => {
        if (nameInput.value !== newDescription){
          
          const newDescription = event.target.value
  
          const endpoint = `/shoplist/${newDescription}/${editButton.dataset.shoplist}`
          console.log(endpoint);
          fetch(endpoint, {
            method: 'PUT',          
          })
        .then((response) => response.json())
        .then((data) => (window.location.href = data.redirect))
        .catch((err) => console.log(err));
        }
    });
  }

  </script>
</body>

</html>
