<html lang="en">
  <%- include("./partials/head.ejs") %>

<body>
        <%- include("./partials/nav.ejs") %>

    <div class="details content">
        <h3 class="recipe-name"><%= recipe.name %></h3>
      <p class="recipe-date">Created: <%= recipe.createdAt %></p>
      <p class="recipe-ingredients">
        Ingredients: <%= recipe.ingredients.join(', ') %>
      </p>
      <p class="recipe-directions">Directions: <%= recipe.directions %></p>
        </div>
    </div>
    <%- include("./partials/footer.ejs") %>

</body>
</html>